.Menu-Main {
  margin-top: 20px;
}
.Menu-Title {
  font-size: 32px;
  margin: 10px;
}
.Menu-Subtitle {
  font-size: 16px;
  margin-bottom: 10px;
}
.AddMenu {
  display: flex;
  height: 32px;
  align-items: center;
  margin-bottom: 24px;
}
.AddMenuItems {
  display: inline-table;
  height: 32px;
  align-items: center;
  margin-bottom: 24px;
}
.AddMenu-Text {
  border-radius: 4px;
  border: 1px solid #bfb8cc;
  padding: 6px 12px;
  margin-top: 3px;
  margin-left: 4px;
}
.AddMenu-Btn {
  margin-left: 15px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
  padding: 6px 12px;
}
.AddMenu-Drop {
  margin-left: 15px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
  padding: 6px 12px;
}
.Menu-Card {
  border-radius: 10px;
  padding: 5px;
  background-color: lightgoldenrodyellow;
}

.Category-Header {
  margin: 5px;
}

.Category-Title {
  font-size: 20px;
}

.Category-List {
  border-radius: 10px;
  padding: 10px;
  background-color: chocolate;
  margin: 10px;
}

.Category-Item {
  border-radius: 10px;
  background-color: darksalmon;
  margin-top: 10px;
}

.Item-Card {
  display: flex;
}

.Item-List {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 6px 12px;
  font-size: 16px;
}

.Item-Desc {
  padding: 6px 12px;
  font-size: 12px;
}
/*Cart Styling*/
.Cart-Title {
  font-size: 32px;
  margin: 10px;
}
.Cart-List {
  padding: 10px;
  border-radius: 10px;
  background-color: lightsteelblue;
}

.Cart-Item--Container {
  border-radius: 10px;
  background-color: lightcyan;
  padding: 5px;
  margin: 5px;
  display: flex;
}

.Cart-Item--Elements {
  flex: 4;
}

.Qty {
  display: flex;
}

.Qty--Btn {
  border: 1px solid #bfb8cc;
  margin: 2px;
}

.Up {
  background-color: green;
}

.Down {
  background-color: red;
}

.Total {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rosybrown;
}
